<header class="masthead mb-auto">
    <div class="inner">
        <a href="/"><img width="50px" src="{{ site.baseurl }}/assets/images/icon-transparent.png" /></a>
        <nav class="nav nav-masthead justify-content-center">
        </nav>
    </div>
</header>
<script>
    if (/index(?:.html)?$/.test(window.location.pathname) || /^\/$/.test(window.location.pathname))
        document.getElementById('home-header').classList.add("active");
    else if (/careers(?:.html)?$/.test(window.location.pathname))
        document.getElementById('careers-header').classList.add("active");
</script>
